extends ../layout

block content
    form(action='#' method="post")
        div.input-container
            label(for="email") Email
            input(type="text" name="email" id="email")
        div.input-container
            label(for="password") Password
            input(type="password" name="passeword")
        div.input-container
            label(for="password") Password
            input(type="password" name="passeword")
        div.input-container
            label(for="password") Password
            input(type="password" name="passeword")
        div.input-container
            label(for="password") Password
            input(type="password" name="passeword")

        div.form-button-row
            button.button.primary(type=subit) Register
